/* 覆寫 Bootstrap Navbar Active 顏色 */
.navbar-dark {
    --bs-navbar-active-color: yellow;
}

/* 你原本的自訂樣式也可以放這裡 */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
